h1{
    text-align: center;
}
a{
    text-align: center;
    display: block;
}



#img1{
    height: 250px;
    width: 400px;
    
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }